<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>


<div class="sign-up">
    <div class="circle circle-red"></div>
    <div class="circle circle-yellow"></div>
    <div class="circle circle-green"></div>
    <div class="circle circle-purple"></div>
    <form class="sign-up_form" action="/login" method="post">
        <div class="sign-up_content">
            <h2 class="sign-up_title">Login</h2>
            <input class="sign-up_inp" type="email" name="correo"  placeholder="Email" required="required"/>
            <input class="sign-up_inp" type="password" name="password" placeholder="Password" required="required"/><a>
        </div>
        <div class="sign-up_buttons"><a class="btn btn-register" th:href="@{/register}">Register</a>
            <button class="btn btn-signin" type="submit">Login</button>
        </div>
        <div th:if="${error}" class="error-message">
            <p th:text="${error}"></p>
        </div>
    </form>
</div>
</body>
</html>